<div id="<%= dom_id story %>" class="M_StoryCard">


  <div class="M_Story">
    <div class="A_StoryContent">
      <%= story.user.email%>
      <p class="Q_Name">
        <%= story.title %>
      </p>

      <p class="Q_Anno">
        <%= story.annotation %>
      </p>
    </div> 

    <div class="A_StoryImg">
        <%= image_tag story.cover.url %>   
    </div>
  </div>


  <div class="A_Button" style="margin: 0 30px 20px;">
    <%= link_to "Читать историю", admin_story_path(story) %>
  </div>
  <%# <p> %>
    <%# <strong>Is public:</strong> %>
    <%# story.is_public %>
  <%# </p> %>

</div>
