<div id="<%= dom_id user %>">
  <p>
    <strong>Is admin:</strong>
    <%= user.is_admin %>
  </p>

  <p>
    <strong>User name:</strong>
    <%= user.user_name %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= user.bio %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <%= user.avatar %>
  </p>

  <p>
    <strong>Mail:</strong>
    <%= user.mail %>
  </p>

  <p>
    <strong>Is mail public:</strong>
    <%= user.is_mail_public %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= user.phone %>
  </p>

  <p>
    <strong>Is phone piblic:</strong>
    <%= user.is_phone_piblic %>
  </p>

  <p>
    <strong>Chapter:</strong>
    <%= user.Chapter_id %>
  </p>

  <p>
    <strong>Story:</strong>
    <%= user.Story_id %>
  </p>

  <p>
    <strong>Collection:</strong>
    <%= user.Collection_id %>
  </p>

  <p>
    <strong>Subs:</strong>
    <%= user.Subs_id %>
  </p>

  <p>
    <strong>Like:</strong>
    <%= user.Like_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= user.Comment_id %>
  </p>

</div>
