<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us</title>
</head>
<body class="WelcomeBody">
    <%= render "application/menubarabout" %>
    <div class="FstBlock">
        <div class="Pencil shake-bl">
            <%= image_tag("pencilapple.png", alt: "papka") %>
        </div>
        <div class="LogoFolder">
            <%= image_tag("folderPurple.png", alt: "papka") %>
        </div>

    </div>

    <div class="BlocDescr">
        <div class="DescrImg">
            <%= image_tag("aboutUsexplain.png", alt: "papka") %>
        </div>

    </div>
    

    <div class="BlockSubAgain">
        <div class="Coffee shake-tr-cof">
            <%= image_tag("coffee.png", alt: "papka") %>
        </div>


        <div class="SubFolderPurple">
            <div class="Subhead">
                <p> keep in touch with us :)</p>
           </div>

            <div class="Headline">
                <p>оставьте свою почту, <br> чтобы узнать о запуске!</p>
            </div>

            <div id="subscriptionform" class="SubForm">
                 <%= render "subscriptions/form"%>        
            </div>

            <div class="Books">
                <%= image_tag("books.png", alt: "papka") %>
            </div>

            <div class="MadeByPurple">
                <div class="Created">
                    <%= image_tag("authors.png", alt: "papka") %>
                </div>

                <div class="Curated">
                    <%= image_tag("curators.png", alt: "papka") %>
                </div>
            </div>

        <div class="Socials">
            <div class="Git">
              <%= image_tag("github.svg", alt: "papka") %>
            </div>
            <div class="TG">
                <%= image_tag("telegram.svg", alt: "papka") %>

            </div>

        </div>
        <%= image_tag("folderPurpleform.png", alt: "papka") %>        </div>

    </div>
</body>
</html>