<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
</head>
<body class="WelcomeBody">

    <%#= render partial: "welcome/menubar" %>

    <div class="Cactus wobble-hor-top">
        <%= image_tag("cactus.png", alt: "papka") %>
    </div>



    <div class="FolderImgPink">

        <div class="Subhead">
            <p> keep in touch with us :)</p>
        </div>

        <div class="Headline">
            <p>оставьте свою почту, <br> чтобы узнать о запуске!</p>
        </div>

        <div class="Eyes shake-right">
            <%= image_tag("eyes.png", alt: "papka") %>
        </div>

        <div class="MadeBy">
            <div class="Created">
                <%= image_tag("authors.png", alt: "papka") %>
            </div>

            <div class="Curated">
                <%= image_tag("curators.png", alt: "papka") %>
            </div>

        </div>

        <div class="Socials">
            <div class="Git">
              <%= image_tag("github.svg", alt: "papka") %>
            </div>
            <div class="TG">
                <%= image_tag("telegram.svg", alt: "papka") %>

            </div>

        </div>
        <%= image_tag("folder.png", alt: "papka") %>
    </div>
    
</body>
</html>