<div id="<%= dom_id story %>">
  <p>
    <strong>Title:</strong>
    <%= story.title %>
  </p>

  <p>
    <strong>Cover:</strong>
    <%= story.cover %>
  </p>

  <p>
    <strong>Annotation:</strong>
    <%= story.annotation %>
  </p>

  <p>
    <strong>Is public:</strong>
    <%= story.is_public %>
  </p>


  <% story.chapters.each do |chapter| %>
      <%= render "stories/chapter", chapter: chapter %>
  <% end %>


</div>
