<p style="color: green"><%= notice %></p>


<%= render @story %>

<h1>Chapters</h1>

 <%= link_to "New chapter", new_chapter_path(story_id: @story.id) %>



<div id="chapters">
  <% @story.chapters.each do |chapter| %>
    <%= render chapter %>
    <p>
      <%= link_to "Show this chapter", chapter %>
    </p>
  <% end %>
</div> 

<div>
  <%= link_to "Edit this story", edit_story_path(@story) %> |
  <%= link_to "Back to stories", stories_path %>

  <%= button_to "Destroy this story", @story, method: :delete %>
</div>
