<p style="color: green"><%= notice %></p>


<%= render @story %>

<div class="M_StoryEditB">
  <div class="A_Button">
    <%= link_to "Edit this story", edit_story_path(@story) %> 
  </div>
  <div class="A_Button">
      <%= button_to "Удалить историю", @story, method: :delete %>
  </div>
  <div class="A_Button">
      <%= link_to "Ко всем историям", stories_path %>
  </div>

</div>


<h1>Главы</h1>

<div class="A_Button" style="margin-left: 0;">
  <%= link_to "Добавить главу", new_chapter_path(story_id: @story.id) %>
</div>



<div id="chapters">
  <% @story.chapters.each do |chapter| %>
    <%= render chapter %>
  <% end %>
</div> 

