<p style="color: green"><%= notice %></p>

<% content_for :title, "Chapters" %>

<ul style="display: flex; flex-direction:row">
  <li><%= link_to "Stories", stories_path %></li>
</ul>

<h1>Chapters</h1>

<div id="chapters">
  <% @chapters.each do |chapter| %>
    <%= render chapter %>
    <p>
      <%= link_to "Show this chapter", chapter %>
    </p>
  <% end %>
</div>

<%= link_to "New chapter", new_chapter_path %>
