<nav class= "M_Menubar">
    <div class="A_MainLinks">
        <%= link_to "Главная", root_path %>

        <% if user_signed_in? && current_user.admin? %>
             <%= link_to "Модерировать истории", admin_stories_url %>
        <%else%>
             <%= link_to "Истории", admin_stories_url %>
        <%end%>
        <%= link_to "Все главы", admin_chapters_path%>

        <%= link_to "Промо" %>
    </div>
    
    <%# <% link_to "Главная", root_path %>
    <%# <% link_to "Главная", root_path %>

    <div class="A_LoginMenu">
        <% if user_signed_in? %>
        <%= link_to current_user.email, edit_user_registration_path %>
        <%= link_to "Выйти", destroy_user_session_path, data: { "turbo-method": :delete } %>
        <% else %>
        <%= link_to "Войти", new_user_session_path %>
        <%= link_to "Зарегистрироваться", new_user_registration_path %>
        <% end %>
    </div>
</nav>